html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #c6ffb3;
}

header {
  font-family: 'Roboto Condensed', sans-serif;
}

.home-container {
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#header-icon {
  width: 30vw;
  margin: 1rem;
  position: fixed;
  z-index: -1;
}

h1.page-title {
  font-size: 2.5em;
  padding: 1rem 0.5rem;
  margin: auto 0;
  text-align: center;
  z-index: 0;
}

h1.dash-title {
  font-size: 2.5em;
  padding: 1rem 0.5rem;
  margin: auto 0;
  text-align: right;
  z-index: 0;
}

#homepage-welcome {
  margin: 3rem auto;
  max-width: 400px;
}

#welcome-text {
  font-size: 1em;
  text-align: center;
}

#welcome-icon {
  display: block;
  width: 80px;
  margin: 0 auto;
}

#demo-text {
  font-size: 1em;
  text-align: center;
  color: white;
  background: rgba(153, 153, 153, 0.5);
  border-radius: 5px;
}

#user-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem auto;
  max-width: 600px;
}

button {
  cursor: pointer;
}

.button {
  border: 2px solid #999999;
  color: black;
  padding: 0.75rem 1.25rem;
  font-size: 1em;
  border-radius: 5px;
  background-color: #ffb399;
}

.back-button {
  position: absolute;
  top: 0;
  right: 0.75rem;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
}

.plant-info-back {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  border: 1px solid #999999;
  color: black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
}

#new-user-button, #login-button {
  margin: 1.25rem 0;
}

#new-user-form, #login-form {
  margin: 3rem auto;
  position: relative;
  max-width: 600px;
}

fieldset {
  border: 0;
  position: relative;
}

legend {
  text-align: center;
}

input[type=text], input[type=password] {
  display: block;
  width: 90%;
  padding: 0.5rem 0;
  margin: 0.5rem;
  text-align: center;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0.5rem;
}

#new-user-submit, #login-submit {
  display: block;
  margin: 1rem auto;
  background-color: #99d6ff;
}

.icon {
  width: 60px;
}

#dashboard-buttons {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: space-around;
  right: 0;
}

#user-search-button, #user-list-button, #message-button, #logout-button {
  width: 48vw;
  margin: 0.1rem;
  background-color: rgba(153, 179, 255, 0.3);
}

h3.user-plants-header {
  text-align: center;
  font-size: 1.5em;
}

#new-plant {
  margin: 0 auto;
}

#user-plants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

#plants-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  position: relative;
}

.plant-info {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 4%;
  background-color: #ffff99;
  border: 2px solid #a6a6a6;
  border-radius: 5px;
  padding: 0.25rem;
}

#user-functions {
  max-width: 600px;
  margin: 0 auto;
}

.user-message-header {
  font-size: 1.25em;
}

#user-messages, #search-list, #user-search-form, #user-message-form {
  background-color: #f2f2f2;
  text-align: center;
  padding: 1rem;
  border: 2px solid #999999;
  border-radius: 5px;
  margin: 1rem;
}

.searched-user-name {
  background-color: #cc99ff;
}

h3.search-list {
  position: relative;
}

#users-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  position: relative;
}

.user-search-form legend {
  font-size: 1.25em;
}

.user-message-form legend {
  font-size: 1.25em;
}

@media only screen and (min-width: 768px) {
  #user-search-button, #user-list-button, #message-button, #logout-button {
    width: 24vw;
    margin: 0.1rem;
    background-color: rgba(153, 179, 255, 0.3);
  }
}

@media only screen and (min-width: 700px) {
  .body-container {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 1fr);
  }

  .dash-header {
    grid-area: 1/1/2/11;
  }

  .dash-main {
    grid-area: 2/1/11/11;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(8, 12.5%);
  }
  
  .button-section {
    grid-area: 1/1/2/11;
  }

  #plant-section {
    grid-area: 2/1/11/8;
  }

  #plants-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    position: relative;
  }

  #user-functions {
    grid-area: 2/8/11/12;
  }

  #new-plant-form, #edit-plant-form {
    grid-area: 2/2/9/10;
  }

  #users-list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    position: relative;
  }
}